@use '../abstracts'
.home
    @include abstracts.bio-image($height:100%)
    padding-top: 40vh
    overflow: hidden
    align-items: center
    text-align: center
  
    &__name
        font-size: 5rem
        padding-bottom: 1rem
        margin-top: 1rem
        border-bottom: 2px solid map-get(abstracts.$colors,"white" )
        &--last
            color: map-get(abstracts.$colors,"secendary")
            font-weight: abstracts.get-f-weights("bold")
h2 
    padding-top: 1rem
            
